.home-page {
  header {
    height: 75vh;
    width: 100%;
    img {
      margin-right: 50px;
      width: 600px;
    }
    div {
      margin-top: 100px;
      margin-left: 100px;

      .hero-content {
        .title {
          font-size: rem(80px);
          max-width: rem(740px);
          line-height: 1.2em;
        }
        .sub-title {
          margin: 0;
          font-size: rem(20px);
          line-height: 1.5em;
        }
        span {
          margin-top: 50px;
          font-size: 3rem;
        }
        a {
          background-color: rgba(17, 109, 255, 1);
          width: fit-content;
          padding: rem(15px) rem(40px);
          border-radius: rem(38px);
          font-size: rem(24px);
          color: #fff;
          position: relative;
          top: rem(45px);
          transition: .3s;
          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }
        }
      }
    }
  }
  .explore {
    .templates-title {
      max-width: rem(1080px);
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
    }
    hr {
      max-width: rem(540px);
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}

// .home-page {
//   text-align: center;
//   margin-top: rem(40px);
//   .title {
//     font-size: rem(96px);
//     max-width: rem(740px);
//     margin: 0 auto;
//     line-height: 1.2em;
//     margin-bottom: 10px;
//   }
//   .sub-title {
//     max-width: rem(620px);
//     margin: 0 auto;
//     font-size: rem(20px);
//     line-height: 1.5em;
//     margin-bottom: 10px;
//   }

//   a {
//     background-color: rgba(17, 109, 255, 1);
//     cursor: pointer;
//     padding: rem(15px) rem(40px);
//     border-radius: rem(38px);
//     font-size: rem(24px);
//     color: #fff;
//     position: relative;
//     top: rem(45px);
//     &:hover {
//       opacity: 0.9;
//     }
//   }
//   .show-more-btn{
//     margin: 0 auto 20px;
//     height: 50px;
//     width: 65%;
//     background: none;
//     border: 3px solid #dddada;
//     color: #dddada;
//     font-size: 1.2rem;
//     outline: none;
//     &:hover{
//       border: 3px solid $clr3;
//       color: $clr3;
//     }
//   }
// }
