.app-card.light-and-shiny {
    margin: 0 auto;
    background-color: $clr1;
    width: 30%;
    filter: drop-shadow(0 0 0.75rem rgb(138, 138, 138));

    h3 {
        margin: 0;
    }

    p {
        margin-bottom: 10px;
    }
    
    img {
        width: 100%;
    }

    button {
       @include for-light-button;
    }
}