.app-card {
    margin: 0 auto;
    margin-top: rem(20px);
    width: 25%;
    font-size: 0.9rem;
    
    h3 {
        margin: 0;
    }
    
    p {
        margin-bottom: rem(10px);
    }
    
    img {
        width: 100%;
    }
    
    button {
        margin-top: 10px;
        @include for-light-button;
        @include for-responsive-btn;
    }
    
    @include for-narrow-layout {
        margin-top: rem(15px);
        width: 80%;
    }
    @include for-normal-layout {
        width: 50%;
    }
    @include for-wide-layout {
        width: 60%;
    }
}

.app-card.light-and-shiny {
    filter: drop-shadow(0 0 0.75rem rgb(138, 138, 138));
    background-color: $clr1;
    color: $clr2;
}

.app-card.dark-theme {
    color: $clr5;
    background-color: darken($clr6, 10%);
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
    button {
        @include for-dark-button;
        font-weight: bold;
    }
}

