.app-chat.light-and-shiny{
    background-color: $clr2;
    color: $clr1;
    width: 20vw;
    text-align: start;
    filter: drop-shadow(0 0 0.75rem rgb(138, 138, 138));

    .unopened-chat-container {
        .unopened-chat-titles {
            >* {
                margin-left: 1rem;
            }
            
            .chat-sm-txt {
                font-size: rem(11px);
                margin-bottom: 3px;
                
                span {
                    margin-right: 5px; 
                }
            }
        }

        .arrow-icon {
            font-size: 1.8rem;
            margin-right: 1rem;
            border-radius: 999px;
            transition: .3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.5);
            }
        }

        &:hover {
            cursor: pointer;
        }

    }

    .msgs-container {
        overflow-y: auto;
        background-color: $clr1;
        color: $clr2;
        padding: 5px;
        margin: 0;
        min-height: 200px;
        font-size: 0.8rem;
        
        li {
            padding: 5px;
            margin: 10px;
            width: fit-content;
            background-color: lighten($clr2, $amount: 50%);
            margin-left: auto;
        }
        
        .support {
            margin-left: 10px;
            margin-right: auto;
            background-color: lighten($clr2, $amount: 65%);
        }
    }
    

    .msg-send-container {
        background-color: #ffffff;
        padding: 5px;
        input {
            width: 92%;
            padding: 5px;
            padding: top;
            border: none;
            outline: none;
        }

        .msg-send {
            color: $clr2;

            &:hover {
                cursor: pointer;
            }
        } 
    }
}