.app-nav {
  font-family: AlegreyaSans;
  section {
    > * {
      color: $clr2;
    }
    .nav-links {
      width: 100%;
      li.logo {
        margin-left: 50px;
        h1 {
          font-size: 3rem;
          font-weight: bold;
          font-family: Lobster, cursive;
        }
      }
      li {
        font-weight: bold;
        margin-right: rem(50px);
        &:hover {
          cursor: pointer;
        }
      }
      .nav-link-1 {
        margin-left: auto;
      }
    }
    .hamburger-menu {
      position: absolute;
      visibility: hidden;
    }
  }
}

.app-nav.light-and-shiny {
  > * {
    color: $clr2;
  }
  li {
    a {
      color: $clr2;
    }
  }
}

.app-nav.dark-theme {
  background-color: $clr6;
  .logo {
    color: $clr5;
  }
  li {
    a {
      color: $clr5;
    }
  }
}

//MEDIA QUERIES
@include for-normal-layout {
  .app-nav {
    section {
      .nav-links {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        transform: translate(100%, 0);
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        flex-direction: column;
        justify-content: flex-start;
        li {
          padding: rem(10px);
          margin: 0;
          &:first-child {
            margin: 0;
            margin-top: rem(75px);
          }
          a {
            margin: 0;
            padding: 20px 0;
            font-size: 2rem;
            font-weight: bold;
            transition: 0.3s;
          }
        }
        .nav-link-1 {
          margin-left: 0;
        }
      }
      .menu-open {
        transform: translate(0, 0);
        box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.7);
      }
      .hamburger-menu {
        background-color: transparent;
        z-index: 2;
        position: absolute;
        top: 15%;
        left: 86%;
        margin-top: 1rem;
        visibility: visible;
        font-size: 2rem;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          transform: rotate(360deg);
        }
      }
    }
  }
}

@include for-normal-layout {
  .app-nav.light-and-shiny {
    .nav-links {
      color: $clr2;
      background-color: $clr1;
      li:first-child {
        cursor: default;
      }
      li a {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          color: darken($clr2, 20%);
        }
      }
    }
    .hamburger-menu {
      color: $clr2;
    }
  }
  .app-nav.dark-theme {
    .nav-links {
      color: $clr5;
      background-color: $clr6;
      a {
        transition: 0.3s;
        &:hover {
          color: darken($clr5, 20%);
        }
      }
    }
    .hamburger-menu {
      color: $clr5;
    }
  }
}
