.app-article {
    line-height: 1.9;
    margin: 10px;
    // font-family: Lato, sans-serif;

    h3,h4 {
        margin: 0;
    }
    p {
        font-size: .8rem;
        padding: 5px;
    }
}

.app-article.light-and-shiny {
    color: $clr1;
    background-color: $clr2;
}

.app-article.dark-theme {
    color: $clr5;
    background-color: $clr6;
}

// MEDIA QUERIES

@include for-wide-layout {
    .app-article {
        margin: 10px auto;
    }
}

@include for-normal-layout {
    .app-article {
        margin: 10px auto;
    }
}

@include for-narrow-layout {
    .app-article {
        margin: 10px auto;
        width: 90%;
    }
}
