.app-nav.light-and-shiny {
    font-family: AlegreyaSans;
    
    // nav {

    // }
    .logo {
        font-size: 3rem;
        font-weight: bold;
        font-family: Lobster, cursive;
    }

    >* {
        color: $clr2;
    }

    li {
        a {
            color: $clr2;
            margin-left: rem(50px);
        }
        &:hover {
            cursor: pointer;
        }
    }
}
