.app-social-links {
  padding: rem(20px);
  > * {
    padding: rem(5px);
    &:hover {
      cursor: pointer;
    }
  }

  &.buson-theme {
    * {
      background-color: $clr1;
      color: $clr2;
    }
  }
}

.app-social-links.light-and-shiny {
  > * {
    color: $clr2;
  }
}
.app-social-links.dark-theme {
  > * {
    color: $clr5;
  }
}
