.layout-2-columns {
  @include for-wide-layout {
    flex-direction: column;
  }
  @include for-normal-layout {
    flex-direction: column;
  }
  @include for-narrow-layout {
    flex-direction: column;
  }
}