* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {
    color: $clr2;
    text-align: center;
    // line-height: 1.9;
}

body {
    margin: 0 auto;
    // max-width: $max-width;
}

h1, h2 {
    font-family: GreatVibes, serif;
    font-size: rem(70px);
    margin: 0 0 rem(20px);
    font-weight: normal;
    line-height: 1;
}

p {
    margin: 0 auto 1em;
    max-width: 48ch;
}

a {
    text-decoration: none;
    color: $clr2;
}

button:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 0;
}