@font-face {
    font-family: Lato;
    src: url(~@/assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: AlegreyaSans;
    src: url(~@/assets/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(~@/assets/fonts/Lobster/Lobster-Regular.ttf);
}