//MAX_WIDTH
$max-width: 1500px;

//BUSON THEME COLOR PALETTE
$clr1: #f6f9fe; //bg
$clr2:#191d34;
$clr3: #002d5b; //navbar header footer
$clr4: #ff656a;//btns borders decorations

//DARK THEME COLOR PALETTE
$clr5: #21e6c1;
$clr6: #112537;
$clr7: #e4f0fb;

//MAIN COLORS
$clr8: #4eb7f5;
$clr9: #20303c;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 1000px;
$break-wide: 1100px;