.wap-list {
//   .template-action {
//     visibility: hidden;
//   }
  margin-bottom: 25px;
  .wap-preview {
    border: 1px solid black;
    cursor: pointer;
    &:hover {
    //   .template-action{
    //       visibility: visible;
    //   }  
      opacity: 0.6;
    }
  }
}
